* {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --border_d: 1px solid black;
    --border_w: 1px solid white;
    --back_white: white;
}

/* navbar */


.nav {
    width: 100%;
    height: 70px;
    border: var(--border_d);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nav_under {
    width: 1350px;
    height: 60px;
    border: var(--border_d);
    display: flex;
}

.logo {
    width: 228px;
    height: 60px;
    border: var(--border_d);
    display: flex;
    align-items: center;
}

.booking_btfh {
    width: 550px;
    height: 60px;
    border: var(--border_d);
    display: flex;
    justify-content: space-evenly;
}

.bus {
    width: 112.5px;
    height: 56.8px;
    border: var(--border_d);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.bus_2 {
    width: 112.5px;
    height: 56.8px;
    border: var(--border_d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bus_3 {
    width: 112.5px;
    height: 56.8px;
    border: var(--border_d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bus_4 {
    width: 112.5px;
    height: 56.8px;
    border: var(--border_d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_div {
    width: 600px;
    height: 60px;
    border: var(--border_d);
    display: flex;
}

.offer_icon {
    width: 120px;
    height: 56.8px;
    border: var(--border_d);
    display: flex;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
    border: var(--border_d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_text {
    width: 80px;
    height: 35px;
    border: var(--border_d);
    font-size: 1.3rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav_icon {
    width: 30px;
    height: 30px;
    border: var(--border_d);
}

.nav_icon_2 {
    width: 80px;
    height: 35px;
    border: var(--border_d);
    font-size: 1.3rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* sarch bar */



.container {
    width: 100%;
    height: 428px;
    border: var(--border_d);
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}
.bg-img{
     background-image: url(https://static.abhibus.com/busimages/img/web-new-Final.webp);
    background-position: center;
    
    background-size: cover;
}

.dhar {
    /* border: 1px solid black; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.arrowheitgh{
    /* border: 1px solid black; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.book_plase {
    width: 100%;
    height: 160.71px;
    border: 1px solid;
}


.book_plase_under_1 {
    width: 100%;
    height: 40.31px;
    border: var(--border_d);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2.1rem;

}



.book_plase_sarch {
    width: 1240px;
    height: 64px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background-color: var(--back_white);

}

.auto{
    height: auto;
}



.to_station {
    width: 261.59px;
    height: 56px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

.to_station_2 {
    width: 261.59px;
    height: 56px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}



.froam_station {
    width: 261.59px;
    height: 56px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back_white);
}

.bus_icon {
    width: 16px;
    height: 16px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.bus_icon_2 {
    width: 16px;
    height: 16px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 3px;

}

.input {
    width: 215.99px;
    height: 23px;
    margin-top: 4px;
    /* border: 1px solid black; */
}

.input_2 {
    width: 215.99px;
    height: 23px;
    margin-top: 4px;
    /* border: 1px solid black; */
}

.input_tag {
    width: 208.99px;
    height: 18px;
    outline: 0px;
    border: 0px;
    font-size: 16px;
    padding-left: 8px;
}

.input_tag_2 {
    width: 208.99px;
    height: 18px;
    outline: 0px;
    border: 0px;
    font-size: 16px;
    padding-left: 8px;
}

.froam_station_2 {
    width: 261.59px;
    height: 56px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back_white);
}

.calender_main {
    width: 420.76px;
    height: 56px;
    border: 1px solid #f2f2f2;
    display: flex;
    border-radius: 10px;
}

.calender {
    width: 230px;
    height: 54px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back_white);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.calender_icon {
    width: 16px;
    height: 16px;
    /* padding: 10px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid black;      */
    margin-top: 5px;
    margin-left: 10px;
}

.input_calender {
    width: 215.99px;
    height: 23px;
    margin-top: 4px;
    /* border: 1px solid black; */
    padding: 2px;
}

.input_tag_3 {
    width: 170.99px;
    height: 18px;
    outline: 0px;
    border: 0px;
    font-size: 16px;
    padding-left: 8px;
}

.buttons {
    width: 44%;
    height: 54px;
    /* border: 1px solid #1e0707; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: var(--back_white);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.today {
    width: 60px;
    height: 43.5px;
    background-color: #f2f2f2cb;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid #f2f2f2;

}

.tomorrow {
    width: 95px;
    height: 43.5px;
    background-color: #f2f2f2b8;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid #f2f2f2;

}

.sarch {
    width: 100%;
    height: 56px;
    /* border: 1px solid black; */
}

.sarch_2 {
    width: 100%;
    height: 56px;
    /* border: 1px solid black; */
    border-radius: 10px;
    font-size: 16px;
    background-color: #dc635b;
    color: white;
    border: 1px solid #f2f2f2;

}

.arrow {
    width: 40.4px;
    height: 40.4px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    background-color: #EEEEEE;
    counter-reset: gray;
   padding: 0px;
display: flex;
justify-content: center;
align-items: center;
   /* border: 3px solid black; */
}
@media (width <=500px) {
    

   
    .arrowheight{
        /* border: 1px solid black; */
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
    }
}
@media (width >=700px) {
   

    .froam_station {
        width: 100%;
        height: 60px;
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--back_white);

    }
    .froam_station_2 {
        width: 100%;
        height: 60px;
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--back_white);
    }
    .arrowheight{
        /* border: 1px solid black; */
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
    }
}


   

    @media (width >=1000px) {
    
        .froam_station {
            width: 300.59px;
            height: 60px;
            border: 1px solid #f2f2f2;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--back_white);
            
        }
        .froam_station_2 {
            width: 281.59px;
            height: 60px;
            border: 1px solid #f2f2f2;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--back_white);
        }
        .calender_main {
            width: 430.76px;
            height: 60px;
            border: 1px solid #f2f2f2;
            display: flex;
            border-radius: 10px;
        }
        .sarch {
            width: 100%;
            height: 56px;
            display: flex;
            justify-content: start;
            border: 1px solid black;
        }
        
        .sarch_2 {
            width: 100%;
            height: 56px;
            border: 1px solid black;
            border-radius: 10px;
            font-size: 16px;
            background-color: #dc635b;
            color: white;
            border: 1px solid #f2f2f2;
        
        }
      
    }


    @media (width >=1200px) {
  
        .froam_station {
            width: 261.59px;
            height: 60px;
            border: 1px solid #f2f2f2;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--back_white);
            
        }
        .froam_station_2 {
            width: 261.59px;
            height: 60px;
            border: 1px solid #f2f2f2;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--back_white);
        }
        .calender_main {
            width: 430.76px;
            height: 60px;
            border: 1px solid #f2f2f2;
            display: flex;
            border-radius: 10px;
        }
        .sarch {
            width: 100%;
            height: 56px;
            display: flex;
            justify-content: start;
            border: 1px solid black;
        }
        
        .sarch_2 {
            width: 100%;
            height: 56px;
            border: 1px solid black;
            border-radius: 10px;
            font-size: 16px;
            background-color: #dc635b;
            color: white;
            border: 1px solid #f2f2f2;
        
        }
        .today {
            width: 55px;
            height: 43.5px;
            background-color: #f2f2f2cb;
            border-radius: 6px;
            font-size: 16px;
            border: 1px solid #f2f2f2;
        
        }
        
        .tomorrow {
            width: 77px;
            height: 43.5px;
            background-color: #f2f2f2b8;
            border-radius: 6px;
            font-size: 16px;
            border: 1px solid #f2f2f2;
        
        }
      
    }
/* first drop down */


#froam_station_list {
    width: 255.59px;
    height: 250px;
    /* border: 1px solid black; */
    border-radius: 6px;
    position: absolute;
    top: 342px;
    left: 149px;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    background-color: white;
    padding: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#froam_station_list::-webkit-scrollbar {
    width: 5px;
    color: transparent;
}

#froam_station_list::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}


.list {
    width: 100%;
    height: 61px;
    /* border: 1px solid black; */
    /* border-radius: 6px; */
    display: flex;
}

.list:hover {
    background-color: #f2f2f2cb;
}


.list_icon {
    width: 45px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_text {
    width: 215px;
    height: 61px;
    /* border: 1px solid rgb(3, 3, 3); */

}

.city_name {
    width: 215px;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: end;
    font-size: 16px;
    margin-top: 3px;
    font-family: sans-serif;
    z-index: 999;

}

.city_name_two {
    width: 215px;
    height: 40%;
    /* border: 1px solid black; */
    display: flex;
    align-items: start;
    margin-top: -17px;
    color: #868686;
    font-size: 13.333px;
    z-index: -999;
}

/* second droup down  */


#froam_station_list_two {
    width: 255.59px;
    height: 250px;
    /* border: 1px solid black; */
    border-radius: 6px;
    position: absolute;
    top: 342px;
    left: 487px;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    background-color: white;
    padding: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#froam_station_list_two::-webkit-scrollbar {
    width: 5px;
    color: transparent;
}

#froam_station_list_two::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}


.list {
    width: 100%;
    height: 61px;
    /* border: 1px solid black; */
    /* border-radius: 6px; */
    display: flex;
}

.list:hover {
    background-color: #f2f2f2cb;
}


.list_icon {
    width: 45px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_text {
    width: 215px;
    height: 61px;
    /* border: 1px solid rgb(3, 3, 3); */

}

.city_name {
    width: 215px;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: end;
    font-size: 16px;
    margin-top: 3px;
    font-family: sans-serif;

}

.city_name_two {
    width: 215px;
    height: 40%;
    /* border: 1px solid black; */
    display: flex;
    align-items: start;
    margin-top: -17px;
    color: #868686;
    font-size: 13.333px;
}

/* Bus Booking Discount Offers */


.bus_discount {
    width: 100%;
    height: 250px;
    border: var(--border_d);
    background-color: var(--back_white);
    margin-top: 50px;
}

.bus_dicount_text {
    width: 100%;
    height: 50px;
    border: var(--border_d);
    display: flex;
    justify-content: end;
    border: 1px solid black;


}

.bus_dicount_img {
    width: 100%;
    height: 199px;
    border: var(--border_d);
    display: flex;
    justify-content: end;
}

.dicount_text {
    width: 90%;
    height: 50px;
    border: var(--border_d);
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.all_img {
    width: 90%;
    height: 199px;
    border: var(--border_d);
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
    padding-left: 130px;
    padding-right: 100px;

}

.all_img::-webkit-scrollbar {
    display: none;
}

.all_img_2 {
    width: 340px;
    height: 170px;
    /* border: var(--border_d); */

    border-radius: 20px;
    margin-left: 10px;
}

.all_poster {
    width: 340px;
    height: 170px;
    /* border: var(--border_d); */
    border-radius: 20px;

}

.all_poster img {
    border-radius: 20px;
}

.bus_dis_2 {
    width: 100%;
    height: 100px;
    border: var(--border_d);
    background-color: var(--back_white);
}

.dis_text {
    width: 100%;
    height: 40px;
    border: var(--border_d);
    display: flex;
    justify-content: end;
}

.dis_text_2 {
    width: 90%;
    height: 40px;
    border: var(--border_d);
    font-size: 25px;
    display: flex;
    align-items: center;
}

.dis_pera {
    width: 100%;
    height: 59px;
    border: var(--border_d);
    display: flex;
    justify-content: end;
}

.dis_pera_2 {
    width: 90%;
    height: 59px;
    border: var(--border_d);
    display: flex;
    align-items: center;
    color: #868686;
}