body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 428px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://static.abhibus.com/web/media/backgrounds/search.20230915.webp);
    background-position-x: center;
    background-position-y: top;
}

.book_plase {
    width: 1280px;
    height: 160.71px;
    border: 1px solid;
}

.book_plase_under_1 {
    width: 1280px;
    height: 40.31px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2.1rem;

}

.book_plase_under_2 {
    width: 1280px;
    height: 85.4px;
    /* border: 1px solid black; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.book_plase_sarch {
    width: 1240px;
    height: 64px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background-color: white;
}

.right {
    width: 50%;
    height: 56px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.froam_station {
    width: 261.59px;
    height: 56px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.arrow {
    width: 40.4px;
    height: 40.4px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    background-color: #EEEEEE;
    counter-reset: gray;
}

.to_station {
    width: 261.59px;
    height: 56px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

.to_station_2 {
    width: 261.59px;
    height: 56px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

.froam_station_2 {
    width: 261.59px;
    height: 56px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.bus_icon {
    width: 16px;
    height: 16px;
    /* border: 1px solid black; */
}

.bus_icon_2 {
    width: 16px;
    height: 16px;
    /* border: 1px solid black; */
}

.input {
    width: 215.99px;
    height: 23px;
    margin-top: 4px;
    /* border: 1px solid black; */
}

.input_2 {
    width: 215.99px;
    height: 23px;
    margin-top: 4px;
    /* border: 1px solid black; */
}

.input_tag {
    width: 208.99px;
    height: 18px;
    outline: 0px;
    border: 0px;
    font-size: 16px;
    padding-left: 8px;
}

.input_tag_2 {
    width: 208.99px;
    height: 18px;
    outline: 0px;
    border: 0px;
    font-size: 16px;
    padding-left: 8px;
}

.left {
    width: 50%;
    height: 56px;
    /* border: 1px solid black; */
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
}

.calender_main {
    width: 420.76px;
    height: 56px;
    border: 1px solid #f2f2f2;
    display: flex;
    border-radius: 10px;
}

.calender {
    width: 230px;
    height: 54px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.calender_icon {
    width: 16px;
    height: 16px;
    padding: 10px;
    display: flex;
    /* border: 1px solid black;  */
}

.input_calender {
    width: 215.99px;
    height: 23px;
    margin-top: 4px;
    /* border: 1px solid black; */
    padding: 2px;
}

.input_tag_3 {
    width: 170.99px;
    height: 18px;
    outline: 0px;
    border: 0px;
    font-size: 16px;
    padding-left: 8px;
}

.buttons {
    width: 44%;
    height: 54px;
    /* border: 1px solid #1e0707; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.today {
    width: 72px;
    height: 43.5px;
    background-color: #f2f2f2cb;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid #f2f2f2;

}

.tomorrow {
    width: 101px;
    height: 43.5px;
    background-color: #f2f2f2b8;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid #f2f2f2;

}

.sarch {
    width: 171.28px;
    height: 56px;
    /* border: 1px solid black; */
}

.sarch_2 {
    width: 171.28px;
    height: 56px;
    /* border: 1px solid black; */
    border-radius: 10px;
    font-size: 16px;
    background-color: #dc635b;
    color: white;
    border: 1px solid #f2f2f2;

}